body {
    background-color: #222;
}

#sparkbulb-sidebar .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 26.5px;
}

#sparkbulb-sidebar {
    display: none;
    position: relative;
}

#sparkbulb-sidebar li {
    margin-bottom: 10px;
    border-bottom: 2px solid #fff;
}

#sparkbulb-sidebar li:first-child {
    background-color: #cdcdcd;
}

#sparkbulb-sidebar li a {
    padding: 10px;
}

#sparkbulb-sidebar li:first-child a {
    color: #0088CC;
}

#sparkbulb-sidebar li a {
    color: #fff;
}
#sparkbulb-sidebar li a:active,
#sparkbulb-sidebar li a:hover,
#sparkbulb-sidebar li a:focus {
    color: #005580;
}

#sparkbulb-sidebar h1 {
    margin: 0;
    font-size: 26.5px;
    color: #696969;
}

#sparkbulb-sidebar .item-title {
    margin: 0;
    font-size: 18.5px;
}

#sparkbulb-sidebar .item-description {
    display: block;
}

#sparkbulb-sidebar img {
    float: left;
    margin-right: 10px;
}